<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Prueba</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <app-navbar></app-navbar>
    <div class="row m-4">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form name="multiple">
                        <h2 class="font-weight-light">Insert the starting index...</h2>
                        <input #final [ngClass]="{'is-valid': noValidated== true && clicked == true, 'is-invalid': noValidated == false && clicked == true}" type="number" min="0" value="1" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                            required>
                        <p *ngIf="final.value < 0"> You must introduce a value bigger than 0</p>
                        <button type="submit" class="btn btn-primary" (click)="showInfo(final.value, $event)">Primary</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form name="single">
                        <h2 class="font-weight-light">Check a single number...</h2>
                        <input #entersingle [ngClass]="{'is-valid': noValidatedSingle== true && clickedsingle == true, 'is-invalid': noValidatedSingle== false && clickedsingle == true}" type="number" value="1" min="0" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                            required>
                        <p *ngIf="entersingle.value < 0"> You must introduce a value bigger than 0</p>
                        <button type="submit" class="btn btn-primary" (click)="showSingle(entersingle.value, $event)">Primary</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-4">
            <ul *ngIf="clicked && noValidated">
                <li *ngFor="let el of display">
                    <p [ngClass]="{'fizz': el== 'fizz', 'buzz': el == 'buzz', 'fizzbuzz': el == 'fizzbuzz'}">{{ el }}</p>
                </li>
            </ul>
            <h3 class="ml-4" *ngIf="clickedsingle && noValidatedSingle">Checked value is: {{singledisplay}}</h3>
        </div>
    </div>
</body>

</html>